<main class="contenedor">
    <form action="/vacancies/edit/{{vacante.url}}" method="POST" class="default-form">
        <h3>General Information</h3>
        <div class="campo">
            <label for="titulo">Title</label>
            <input type="text" id="titulo" name="titulo" placeholder="Ex: React Developer" value="{{vacante.titulo}}" required>
        </div>
        <div class="campo">
            <label for="empresa">Company</label>
            <input type="text" id="empresa" name="empresa" placeholder="Company Hiring" value="{{vacante.empresa}}" required>
        </div>
        <div class="campo">
            <label for="ubicacion">Location</label>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ex: Salt Lake or Remote" value="{{vacante.ubicacion}}" required>
        </div>
        <div class="campo">
            <label for="salario">Salary (USD)</label>
            <input type="number" id="salario" name="salario" placeholder="Ex: $900 USD" value="{{vacante.salario}}" required>
        </div>
        <div class="campo">
            <label for="contrato">Contract</label>
            <select id="contrato" name="contrato">
                {{#tipoContrato vacante.contrato}}
                    <option value="">-- Select --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Half Time">Half Time</option>
                    <option value="By Project">By Project</option>
                {{/tipoContrato}}
            </select>   
        </div>
       <h3>Job Description</h3>
        <div class="campo descripcion">
            <label>Description</label>
            <input type="hidden" id="x" value="{{{vacante.description}}}" name="description">
            <trix-editor input="x"></trix-editor> 
        </div>

        <h3>Knowledge Skills</h3>

        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" class="btn btn-azul" value="Save Changes">
        </div>
    </form>
</main>