<main class="lista-vacantes">
    <h2>List of Vacancy</h2>

    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{empresa}}</h3>
                    <p class="puesto">{{titulo}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Location</p>
                    <p class="nombre">{{ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contract</p>
                    <p class="nombre contrato">{{contrato}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacancies/{{url}}" class="btn btn-verde">More info</a>
                </div>
            </div>
        {{/each}} 
    {{else}}
        <p class="no-vacantes">No vacancies available at the moment</p>
    {{/if}}

</main>
