<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Company</p>
        <p class="nombre">{{vacante.empresa}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Position</p>
        <p class="nombre">{{vacante.titulo}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Location</p>
        <p class="nombre">{{vacante.ubicacion}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contract</p>
        <p class="nombre contrato">{{vacante.contrato}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salary</p>
        <p class="nombre">$ {{vacante.salario}}</p>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Job Description</h2>
        <div class="vacante-descripcion">
            {{{vacante.description}}}
        </div>


        <a href="/vacancies/edit/{{vacante.url}}" class="btn btn-azul editar-btn">Edit Vacancy</a>

    </main>
    <aside class="sidebar">
        <h2>Knowledge Requirements</h2>
        <ul class="skills">
            {{#each vacante.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>